h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
body .dataTable thead .sorting, body .dataTable thead .sorting_asc, body .dataTable thead .sorting_desc, body .dataTable thead .sorting_asc_disabled, body .dataTable thead .sorting_desc_disabled { left: 0; padding: 0 18px 0 2px; position: static; right: 0; top: 0; }
body .dataTable thead .sorting:before, body .dataTable thead .sorting_asc:before, body .dataTable thead .sorting_desc:before, body .dataTable thead .sorting_asc_disabled:before, body .dataTable thead .sorting_desc_disabled:before { display: none; }
body .dataTable thead .sorting:after, body .dataTable thead .sorting_asc:after, body .dataTable thead .sorting_desc:after, body .dataTable thead .sorting_asc_disabled:after, body .dataTable thead .sorting_desc_disabled:after { float: right; margin: 2px -12px 0 0; position: static; right: 0; top: 0; }
body .dataTable thead .sorting_asc, body .dataTable thead .sorting_desc { color: #36c; }
body .dataTable thead .sorting:after, body .dataTable thead .sorting_asc_disabled:after, body .dataTable thead .sorting_desc_disabled:after { color: #666; content: "◇"; }
body .dataTable thead .sorting.sorting_asc:after { color: #36c; content: "△"; }
body .dataTable thead .sorting.sorting_desc:after { color: #36c; content: "▽"; }
.jcicon svg { display: inline-block; height: 24px; margin: 0; padding: 0; width: 24px; }
.jcicon.danger svg { fill: #c00; }
.jcicon.warning svg { fill: #c90; }
p .jcicon svg { display: inline; height: 18px; line-height: 1px; vertical-align: -2px; width: 18px; }
p .jcicon svg path, button svg path { display: inline; line-height: 1px; }
vflex { align-items: stretch; display: flex; flex-direction: column; justify-content: flex-start; }
vflex > * { margin: 0 0 8px 0; }
vflex > *:last-child { margin: 0; }
hflex { align-items: center; display: flex; flex-direction: rows; justify-content: flex-start; }
hflex.span, vflex.span { justify-content: space-between; }
hflex > * { margin: 0 8px 0 0; }
hflex > *:last-child { margin: 0; }
hflex.align-center, vflex.align-center { justify-content: center; }
hflex.align-end, vflex.align-end { justify-content: flex-end; }
hflex.align-bottom, vflex.align-bottom { align-items: flex-end; }
hflex.align-baseline, vflex.align-baseline { align-items: baseline; }
hflex.align-top, vflex.align-top { align-items: flex-start; }
h { display: none; }
.dropdown-menu.text-right > li > a { text-align: right; }
.dropdown-menu.text-left > li > a { text-align: left; }
.appContextHighlight, .appContextHighlight:hover, .appContextHighlight *, .appContextHighlight *:hover { background: none ! important; }
.appContextHighlight { filter: saturate(200%) brightness(10%); }
.appContextHighlightTent { background-image: linear-gradient(to top, rgba(0,128,255,.25) 0%,rgba(0,128,255,.1) 25%,rgba(0,128,255,.1) 75%,rgba(0,128,255,.2) 100%); display: block; outline: 32px solid rgba(209,209,209,.75); position: absolute; z-index: 99; }
.dropdown.appContextMenu { position: absolute; z-index: 100; display: none; }
.dropdown-menu.appContextMenuContent { background-color: #fff; display: block; margin-bottom: 5px; padding: 0; position: static; }
.dropdown-menu.appContextMenuContent li { display: block; margin: 0; position: relative; }
.dropdown-menu.appContextMenuContent li.title { background-image: linear-gradient(to right, #aaa,#ddd); color: #fff; padding: 2px 16px; text-shadow: 1px 1px 3px rgba(0,0,0,.5); text-transform: uppercase; }
.dropdown-menu.appContextMenuContent li a { clear: both; color: #333; display: block; outline: 0; overflow: hidden; padding: 8px 16px; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.dropdown-menu.appContextMenuContent li a:hover { background-color: #eee; }
.dropdown-menu.appContextMenuContent li a i { float: left; margin: 0 16px 0 0; top: 2px; }
.dropdown-menu.appContextMenuContent li .jcicon svg { display: inline; height: 20px; vertical-align: -1px; width: 20px; }
.dropdown-menu.appContextMenuContent li a i.rIcon { color: #ccc; float: right; margin: 0 0 0 16px; fill:#ccc; }
.dropdown-menu.appContextMenuContent li ul { display: block; margin: 0; padding: 0; }
.dropdown-menu.appContextMenuContent li ul li a { padding: 8px 16px 8px 40px; }
.dropdown-menu.appContextMenuContent hr { margin: 0; padding: 0; }
.dropdown-menu.appContextMenuContent li.disabled > a { cursor: not-allowed; opacity: .5; }
.dropdown-menu.appContextMenuContent li.disabled a i.rIcon { display: none; }
.dropdown-menu.appContextMenuContent li.subMenu > a:not(.clickable) { cursor: default; font-style: italic; opacity: .5; }
.dropdown-menu.appContextMenuContent li.disabled > a:hover,
.dropdown-menu.appContextMenuContent li.subMenu > a:hover { background-color: #fff; color: #333; }
.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-270 { transform: rotate(270deg); }
.flip-horizontal { transform: scaleX(-1); }
.flip-vertical { transform: scaleY(-1); }
.modal .asFormWrap .asFakeForm { width: 100%; resize:  unset; }
.jcMenu { background-color: #fff; cursor: pointer; text-align: center; }
.jcMenu .jcicon svg { height: 32px; width: 32px; }
.jcMenu .jcUnauth { fill: #966; }
.jcMenu:hover .jcUnauth { fill: #900; }
.jcMenu .jcAuth { fill: #696; }
.jcMenu:hover .jcAuth { fill: #090; }
.jcMenu .jcUser { color: #696; }
.jcMenu:hover .jcUser { color: #090; }
.jcEditable, .jcEditable * { box-sizing: border-box; }
.jcPlaceHolder { font-weight: bold; font-style: italic; color: #ccc; }
.jcEditable { border: #ccc dashed 1px; margin: 2px 0; min-height: 30px; min-width: 30px; overflow: auto; overflow: visible; position: relative; }
.jcEditableBlock { border-left: #99c dotted 3px; margin: 2px 0; min-height: 30px; min-width: 30px; overflow: auto; overflow: visible; position: relative; padding: 0 0 0 2px; }
.jcEditMenu { background: #fff; border: #ccc solid 1px; line-height: 8px; padding: 0; position: absolute; right: -1px; top: -1px; z-index:90; }
.appContextHighlight .jcEditMenu { display: none; }
.jcEditMenu span { display: inline-block; fill: #999; margin: 0; padding: 0; }
.jcEditable:hover .jcEditMenu { border-color: #999; box-shadow: 1px 1px 3px #ccc; }
.jcEditable:hover .jcEditMenu span { fill: #333; }
.jcEditMenu span + span { margin-left: 2px; }
.jcEditable .jcEditMenu span:hover { background-color: #336; cursor: pointer; fill: #ffc; }
.jcEditMenu span svg { display: block; height: 18px; margin: 4px; padding: 0; width: 18px; }
#jcHiddenPageIndicator { background-color: rgba(255,0,32,.5); border-radius: 0 0 20px 0; left: 0; margin: 0; padding: 0; position: fixed; top: 0; z-index: 10; }
#jcHiddenPageIndicator span { color: #fff; font-weight: bold; padding: 10px 20px; }
#jcProgressIndicator .jcicon.progressIcon svg { animation: keeprotating 2s linear 0s infinite; width: 32px; height: 32px; fill: #999; margin: 0 1em 0 0; }
@keyframes keeprotating {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(-180deg); }
	0% { transform: rotate(-360deg); }
}

#jcPageUploads>div { max-height: 600px; overflow-y: auto; }
table.jcUploads { min-width: 60%; margin: 0 auto; }
table.jcUploads td, table.jcUploads th { margin: 0; padding: 2px 4px; }
table.jcUploads td.fs { text-align: right; }
table.jcUploads th:last-child, table.jcUploads td:last-child { width: 80px; }
@media (max-width: 600px) {
	table.jcUploads { width: 100%; }
}

.jcGallery a { background-color: #fff; border: 1px solid #ccc; box-shadow: 2px 2px 2px #ddd; display: inline-block; height: 80px; margin: 8px; text-align: center; vertical-align: middle; width: 80px; }
.jcGallery a img { max-width: 64px; max-height: 64px; border: solid 1px #ddd; margin: 8px; }
.jcGallery a svg {  width: 48px; height: 48px; }

.jcLasts li .title { font-weight: bold; cursor: pointer; }
.jcLasts li .date,.jcLasts li .time { font-style: italic; color: #999; font-size: smaller; }
.jcLasts li .date::before { content: ' — '; }
.jcLasts li .time::before { content: ', '; }

/* Bootstrap enhancements */
.text-white { fill: #fff; }
.swal2-container .swal2-actions button { min-width: 80px; text-align: center; }
.swal2-container .swal2-actions .swal2-cancel {order: 1; margin-right: auto; }
.swal2-container .swal2-actions .swal2-deny {order: 2; }
.swal2-container .swal2-actions .swal2-confirm {order: 3; }
.btn.btn-sm svg { display: inline-block; width: 20px; height: 20px; fill: #fff; }
.tox .tox-dialog-wrap__backdrop { display: none; }

a[href*="//"]::after { content: ' →'; margin-left: -2px; }