h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
body .dataTable thead .sorting, body .dataTable thead .sorting_asc, body .dataTable thead .sorting_desc, body .dataTable thead .sorting_asc_disabled, body .dataTable thead .sorting_desc_disabled { left: 0; padding: 0 18px 0 2px; position: static; right: 0; top: 0; }
body .dataTable thead .sorting:before, body .dataTable thead .sorting_asc:before, body .dataTable thead .sorting_desc:before, body .dataTable thead .sorting_asc_disabled:before, body .dataTable thead .sorting_desc_disabled:before { display: none; }
body .dataTable thead .sorting:after, body .dataTable thead .sorting_asc:after, body .dataTable thead .sorting_desc:after, body .dataTable thead .sorting_asc_disabled:after, body .dataTable thead .sorting_desc_disabled:after { float: right; margin: 2px -12px 0 0; position: static; right: 0; top: 0; }
body .dataTable thead .sorting_asc, body .dataTable thead .sorting_desc { color: #36c; }
body .dataTable thead .sorting:after, body .dataTable thead .sorting_asc_disabled:after, body .dataTable thead .sorting_desc_disabled:after { color: #666; content: "◇"; }
body .dataTable thead .sorting.sorting_asc:after { color: #36c; content: "△"; }
body .dataTable thead .sorting.sorting_desc:after { color: #36c; content: "▽"; }
.jcicon svg { display: inline-block; height: 24px; margin: 0; padding: 0; width: 24px; }
.jcicon.danger svg { fill: #c00; }
.jcicon.warning svg { fill: #c90; }
p .jcicon svg { display: inline; height: 18px; line-height: 1px; vertical-align: -2px; width: 18px; }
p .jcicon svg path, button svg path { display: inline; line-height: 1px; }
vflex { align-items: stretch; display: flex; flex-direction: column; justify-content: flex-start; }
vflex > * { margin: 0 0 8px 0; }
vflex > *:last-child { margin: 0; }
hflex { align-items: center; display: flex; flex-direction: rows; justify-content: flex-start; }
hflex.wrap { flex-wrap: wrap; }
hflex.span, vflex.span { justify-content: space-between; }
hflex > * { margin: 0 8px 0 0; }
hflex > *:last-child { margin: 0; }
hflex.align-center, vflex.align-center { justify-content: center; }
hflex.align-end, vflex.align-end { justify-content: flex-end; }
hflex.align-bottom, vflex.align-bottom { align-items: flex-end; }
hflex.align-baseline, vflex.align-baseline { align-items: baseline; }
hflex.align-top, vflex.align-top { align-items: flex-start; }
h { display: none; }
.dropdown-menu.text-right > li > a { text-align: right; }
.dropdown-menu.text-left > li > a { text-align: left; }
.appContextHighlight, .appContextHighlight:hover, .appContextHighlight *, .appContextHighlight *:hover { background: none ! important; }
.appContextHighlight { filter: saturate(200%) brightness(10%); }
.appContextHighlightTent { background-image: linear-gradient(to top, rgba(0,128,255,.25) 0%,rgba(0,128,255,.1) 25%,rgba(0,128,255,.1) 75%,rgba(0,128,255,.2) 100%); display: block; outline: 32px solid rgba(209,209,209,.75); position: absolute; z-index: 99; }
.dropdown.appContextMenu { position: absolute; z-index: 100; display: none; }
.dropdown-menu.appContextMenuContent { background-color: #fff; display: block; margin-bottom: 5px; padding: 0; position: static; }
.dropdown-menu.appContextMenuContent li { display: block; margin: 0; position: relative; }
.dropdown-menu.appContextMenuContent li.title { background-image: linear-gradient(to right, #aaa,#ddd); color: #fff; padding: 2px 16px; text-shadow: 1px 1px 3px rgba(0,0,0,.5); text-transform: uppercase; }
.dropdown-menu.appContextMenuContent li a { clear: both; color: #333; display: block; outline: 0; overflow: hidden; padding: 8px 16px; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.dropdown-menu.appContextMenuContent li a:hover { background-color: #eee; }
.dropdown-menu.appContextMenuContent li a i { float: left; margin: 0 16px 0 0; top: 2px; }
.dropdown-menu.appContextMenuContent li .jcicon svg { display: inline; height: 20px; vertical-align: -1px; width: 20px; }
.dropdown-menu.appContextMenuContent li a i.rIcon { color: #ccc; float: right; margin: 0 0 0 16px; fill:#ccc; }
.dropdown-menu.appContextMenuContent li ul { display: block; margin: 0; padding: 0; }
.dropdown-menu.appContextMenuContent li ul li a { padding: 8px 16px 8px 40px; }
.dropdown-menu.appContextMenuContent hr { margin: 0; padding: 0; }
.dropdown-menu.appContextMenuContent li.disabled > a { cursor: not-allowed; opacity: .5; }
.dropdown-menu.appContextMenuContent li.disabled a i.rIcon { display: none; }
.dropdown-menu.appContextMenuContent li.subMenu > a:not(.clickable) { cursor: default; font-style: italic; opacity: .5; }
.dropdown-menu.appContextMenuContent li.disabled > a:hover,
.dropdown-menu.appContextMenuContent li.subMenu > a:hover { background-color: #fff; color: #333; }
.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-270 { transform: rotate(270deg); }
.flip-horizontal { transform: scaleX(-1); }
.flip-vertical { transform: scaleY(-1); }
.modal .asFormWrap .asFakeForm { width: 100%; resize:  unset; }

a[href^="http://"]::after, #jcToplevelContainer a[href^="https://"]::after { content: ' →'; opacity: .5; }
a[href^="http://"]:hover::after, #jcToplevelContainer a[href^="https://"]:hover::after { opacity: 1; }
a[href^="mailto:"]::after { content: ' ✉'; }

.click { cursor: pointer; }

.jcMenu { cursor: pointer; width: 32px; height: 32px; }

.jcBannerArea { position: relative; }
.jcBannerArea .jcCover { width: 100%; height: 128px; overflow: hidden; }
.jcBannerArea .jcCover img { display: block; border: none; width: 100%; height: 100%; }
.jcBannerArea.nop .jcCover { height: 64px; }
.jcBannerArea .jcBannerText { color: #69c; font-size: 140%; font-weight: bold; position: absolute; text-overflow: ellipsis; overflow:hidden; text-shadow: 0 0 3px #000; transform: scaleY(1.5); white-space: nowrap; }
.jcBannerArea.cfill .jcCover img { object-fit: cover; }
.jcBannerArea.cstretch .jcCover img { object-fit: fill; }
.jcBannerArea.ccenter .jcCover img { object-fit: none; margin: 0 auto; }
.jcBannerArea.ccontain .jcCover img { object-fit: contain; margin: 0 auto; }
.jcBannerArea.nop .jcBannerText { left: 10px; bottom: 10px; right: 50px; }
.jcBannerArea .jcMenu { position: absolute; top: 32px; right: 32px; z-index: 2; }
.jcBannerArea.nop .jcMenu { top: 16px; right: 16px; }
.jcBannerArea .jcProfile { position: absolute; width: 120px; height: 120px; background-size: cover; }
.jcBannerArea .jcProfile { background-position: center; background-repeat: no-repeat; background-size: contain; }
.jcBannerArea.pcircle .jcProfile { border-radius: 50%; }
.jcBannerArea.pbleft .jcProfile { top: 4px; left: 4%; border: 4px solid #fff; }
.jcBannerArea.pbleft .jcBannerText { left: calc(5% + 130px); bottom: 10px; right: 50px; }
.jcBannerArea.pleft .jcProfile { top: 0; left: 0; border: none; width: 128px; height: 128px; }
.jcBannerArea.pleft .jcBannerText { left: calc(1% + 130px); bottom: 10px; width: calc(98% - 130px); }
.jcBannerArea.pbcenter .jcProfile { top: 4px; left: calc(50% - 64px); border: 4px solid #fff; }
.jcBannerArea.pbcenter .jcBannerText { left: 10px; top: 20px; height: 66%; width: calc(50% - 90px); white-space: normal; line-height: 1em; }


@media (max-width: 600px) {
	.jcBannerArea .jcCover { height: 64px; }
	.jcBannerArea.nop .jcCover { height: 48px; }
	.jcBannerArea .jcBannerText { font-size: 100%; }
	.jcBannerArea.nop .jcBannerText { left: 5px; bottom: 5px; right: 40px; }
	.jcBannerArea .jcMenu { top: 8px; right: 8px; }
	.jcBannerArea .jcProfile { width: 60px; height: 60px; }
	.jcBannerArea.pbleft .jcProfile { top: 2px; left: 2%; border: 2px solid #fff; }
	.jcBannerArea.pbleft .jcBannerText { left: calc(5% + 60px); bottom: 5px; right: 40px; }
	.jcBannerArea.pleft .jcProfile { width: 64px; height: 64px; }
	.jcBannerArea.pleft .jcBannerText { left: calc(1% + 60px); bottom: 5px; width: calc(98% - 60px); }
	.jcBannerArea.pbcenter .jcProfile { left: calc(50% - 32px); border: 2px solid #fff; }
	.jcBannerArea.pbcenter .jcBannerText { left: 5px; top: 10px; width: calc(50% - 45px); line-height: .8em; }
}


.jcMenu:not(.jcMenuText) .jcicon { background-color: #933; text-align: center; width: 32px; height: 32px; border-radius: 16px; display: block;  border: 1px solid #fff; }
.jcMenu:not(.jcMenuText) .jcicon.jcAuth { background-color: #393; }
.jcMenu:not(.jcMenuText) .jcicon svg { fill: #fff; display: display: block; margin-bottom: -2px; }

.jcMenu .jcicon svg { height: 20px; width: 20px; }
.jcMenu.jcMenuText .jcicon { display: inline-block; margin: -4px 4px; vertical-align: 2px; }
.jcMenu.jcMenuText .jcicon svg { width: 20px; height: 20px; }
.jcMenu:not(.jcMenuText) .jcUnauth { fill: #966; }
.jcMenu:not(.jcMenuText):hover .jcUnauth { fill: #900; }
.jcMenu:not(.jcMenuText) .jcAuth { fill: #696; }
.jcMenu:not(.jcMenuText):hover .jcAuth { fill: #090; }
.jcMenu:not(.jcMenuText) .jcUser { color: #696; }
.jcMenu:not(.jcMenuText):hover .jcUser { color: #090; }
.jcEditable, .jcEditable * { box-sizing: border-box; }
.jcPlaceHolder { font-weight: bold; font-style: italic; color: #ccc; }
.jcEditable { border: #ccc dashed 1px; margin: 2px 0; min-height: 30px; min-width: 30px; padding: 0 32px 0 0; position: relative; }
.jcEditableBlock { border-left: #99c dotted 3px; margin: 2px 0; min-height: 30px; min-width: 30px; position: relative; padding: 0 0 0 2px; }
.jcEditMenu { background: #fff; border: #ccc solid 1px; line-height: 8px; padding: 0; position: absolute; right: -1px; top: -1px; z-index:90; }
.appContextHighlight .jcEditMenu { display: none; }
.jcEditMenu span { display: inline-block; fill: #999; margin: 0; padding: 0; }
.jcEditable:hover .jcEditMenu { border-color: #999; box-shadow: 1px 1px 3px #ccc; }
.jcEditable:hover .jcEditMenu span { fill: #333; }
.jcEditMenu span + span { margin-left: 2px; }
.jcEditable .jcEditMenu span:hover { background-color: #336; cursor: pointer; fill: #ffc; }
.jcEditMenu span svg { display: block; height: 18px; margin: 4px; padding: 0; width: 18px; }
#jcHiddenPageIndicator { background-color: rgba(255,0,32,.5); border-radius: 0 0 20px 0; left: 0; margin: 0; padding: 0; position: fixed; top: 0; z-index: 10; }
#jcHiddenPageIndicator span { color: #fff; font-weight: bold; padding: 10px 20px; }
#jcProgressIndicator .jcicon.progressIcon svg { animation: keeprotating 2s linear 0s infinite; width: 32px; height: 32px; fill: #999; margin: 0 1em 0 0; }
@keyframes keeprotating {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(-180deg); }
	0% { transform: rotate(-360deg); }
}
.jcProgressbar { width: 280px; height: 8px; background-color : #eee; border: 1px solid #ccc; overflow: hidden; }
.jcProgressbar div { height: 8px; float: left; background-color : #ccc; }

#jcPageUploads>div { max-height: 600px; overflow-y: auto; }
table.jcUploads { min-width: 60%; margin: 0 auto; }
table.jcUploads td, table.jcUploads th { margin: 0; padding: 2px 4px; }
table.jcUploads td.fs { text-align: right; }
table.jcUploads th:last-child, table.jcUploads td:last-child { width: 80px; }
@media (max-width: 600px) {
	table.jcUploads { width: 100%; }
}

.jcDate { text-transform: capitalize; }

.jcHtml img { max-width: 100%;}
.jcHtml blockquote { margin: 0 0 0 1rem; }
.jcHtml + .jcHtml { clear: right; }

.jcGallery a { background-color: #fff; box-shadow: -1px 0 #aaa, 1px 0 #aaa, 0 -1px #aaa, 0 1px #aaa, 4px 4px 2px #ddd; display: inline-block; height: 96px; margin: 8px; position: relative; text-align: center; transform: skew(-10deg); vertical-align: middle; width: 96px; }
.jcGallery.sizeXS a { height: 48px; width: 48px; }
.jcGallery.sizeS a { height: 64px; width: 64px; }
.jcGallery.sizeL a { height: 128px; width: 128px; }
.jcGallery.sizeXL a { height: 160px; width: 160px; }
.jcGallery.sizeXXL a { height: 240px; width: 240px; }
.jcGallery a:hover { box-shadow: -1px 0 #666, 1px 0 #666, 0 -1px #666, 0 1px #666, 6px 6px 4px #aaa; transform: skew(0deg); }
.jcGallery a, .jcGallery a>* { transition: all .1s ease-in-out; }
.jcGallery a img { box-shadow: -1px 0 #ccc, 1px 0 #ccc, 0 -1px #ccc, 0 1px #ccc; height: 80%; margin: 10%; object-fit: cover; width: 80%; }
.jcGallery a:hover img { height: 100%; margin: 0; width: 100%; box-shadow: none;}
.jcGallery a svg {  width: 60%; height: 60%; margin: 20%; fill: #999; }
.jcGallery a:hover svg {  width: 90%; height: 90%; margin: 5%; fill: #336; }
.jcGallery a span { position: absolute; bottom: 25%; right: 10%; color: #999; border: solid 1px #999; font-size: 75%; background-color : #fff; padding: 0 2px; }
.jcGallery a:hover span { bottom: 10%; right: 2%; font-size: 100%; border-color: #336; color: #336; outline: 1px solid #fff; }
.fancybox-slide--iframe .fancybox-content {
    min-width : 320px;
    min-height : 320px;
}

.jcGallery.inline { text-align: center; height:unset; }
.jcGallery.inline a { max-width: 100%; transform: none; display: inline; box-shadow: none; }
.jcGallery.inline a svg {  width: 96px; height: unset; margin: 10px; fill: #999; }
.jcGallery.inline a:hover svg { fill: #999; }

@media (max-width: 600px) {
	.jcGallery.inline a { max-width: 100%; height: unset; width: unset; }
	.jcGallery.inline a img { max-width: 100%; height: unset; width: unset; }
	.jcGallery.inline a svg { max-width: 100%; height:128px; width: unset; }
}
@media (min-width: 601px) {
	body .jcGallery.inline a { max-height: 240px; height:unset; }
	.jcGallery.inline.sizeXS a img { max-height: 128px; }
	.jcGallery.inline.sizeXS a svg { width: 128px; }
	.jcGallery.inline.sizeS a img { max-height: 180px; }
	.jcGallery.inline.sizeS a svg { width: 180px; }
	.jcGallery.inline.sizeL a img { max-height: 320px; }
	.jcGallery.inline.sizeL a svg { width: 320px; }
	.jcGallery.inline.sizeXL a img { max-height: 480px; }
	.jcGallery.inline.sizeXL a svg { width: 480px; }
	.jcGallery.inline.sizeXXL a img { max-height: 640px; }
	.jcGallery.inline.sizeXXL a svg { width: 640px; }
}
.jcGallery.inline a:hover { box-shadow: none; transform: none; }
.jcGallery.inline a img { box-shadow: none; height:unset; width: unset; object-fit: unset; margin: 0; max-width: 100%; }
.jcGallery.inline a svg {  margin: 10px; fill: #999; }
.jcGallery.inline a:hover svg {  margin: 10px; fill: #336; }
.jcGallery.inline a span { bottom: 10%; right: 2%; font-size: 100%; }

.jcCarousel { display: block; width: 100%; margin: 1em 0; box-shadow: -1px 0 2px #666,0 1px 2px #666, 1px 0 2px #666,0 -1px 2px #666; }
.jcCarousel .carousel-inner { background-color: #999; background-image : linear-gradient(to top,#666,#999,#ccc,#666); overflow: hidden; }
.jcCarousel .carousel-item { height: 280px; text-align: center; }
.jcCarousel .carousel-item img { display: block; left: 50%; margin: 0; max-height: 280px; position: absolute; top: 50%; transform: translate(-50%, -50%); box-shadow: 0 0 3px #000; max-width: 100%; }
.jcCarousel a[class*="carousel-control-"] { width: 10%; }
.jcCarousel a[class*="carousel-control-"] span[class*="carousel-control-"] { background-color: rgba(0,0,0,.1); outline: 8px solid rgba(0,0,0,.1); }
.jcCarousel .carousel-caption { color: #ff0; text-shadow: -1px 0 2px #666,0 1px 2px #666, 1px 0 2px #666,0 -1px 2px #666; }
.jcCarousel .carousel-indicators li { border: none; box-shadow: -1px 0 2px #666,0 1px 2px #666, 1px 0 2px #666,0 -1px 2px #666; margin-bottom: 10px; opacity: .5; }
.jcCarousel .carousel-indicators li.active { background-color: #ff0; opacity: 1; }
.jcCarousel.sizeXS .carousel-item { height: 160px; }
.jcCarousel.sizeXS .carousel-item img { max-height: 160px; }
.jcCarousel.sizeS .carousel-item { height: 220px; }
.jcCarousel.sizeS .carousel-item img { max-height: 220px; }
.jcCarousel.sizeL .carousel-item { height: 340px; }
.jcCarousel.sizeL .carousel-item img { max-height: 340px; }
.jcCarousel.sizeXL .carousel-item { height: 420px; }
.jcCarousel.sizeXL .carousel-item img { max-height: 420px; }
.jcCarousel.sizeXXL .carousel-item { height: 640px; }
.jcCarousel.sizeXXL .carousel-item img { max-height: 640px; }

.jcAbstract { color: #9ac; display: block; font-size: 110%; font-style: italic; font-weight: normal; line-height: .9em; margin: 0; overflow: visible; padding: 1em 0 1em 1em; }
.jcAbstract::before { color: #cde; content: '“'; display: inline-block; font-family: serif; font-size: 400%; line-height: .9em; margin: -.4em 0 -.4em -.4em; vertical-align: -.4em; }

.jcLasts a { cursor: pointer; }
.jcEntry .title { font-weight: bold; }
.jcEntry .date,.jcLastsEntry .time { font-style: italic; color: #999; font-size: smaller; }
.jcEntry .date::before { content: ' — '; }
.jcEntry .time::before { content: ', '; }

.jcAudio audio { width: 80%; height: 64px; margin: 10px 10%; }
.jcVideo { margin: 1em -1px; width: 100%; padding: 0; overflow: visible; }
.jcVideo video { max-width: 100%; margin: 0 auto; display: block; box-shadow: 0 0 2px #999, 3px 3px 3px #ccc; }
.jcYoutube { max-width: 100%; margin: 1em auto; display: block; }

#jcSharingPanel { align-items: start; border-top: 1px solid #ddd; display: flex; flex-wrap: wrap; justify-content: center; margin: 24px 0; padding: 8px; }
#jcToplevelContainer #jcSharingPanel a[href]::after { content: ''; }
#jcSharingPanel > div { border: none; display: inline-block; height: 56px; overflow: hidden; width: 56px; }
#jcSharingPanel a { border: none; border-radius: 20px; display: block; fill: #fff; height: 40px; margin: 8px; stroke: none; text-decoration: none; transition: all .15s ease-out; width: 40px; }
#jcSharingPanel a:hover { border-radius: 6px; height: 54px; margin: 1px; width: 54px; }
#jcSharingPanel a > svg { height: 50%; margin: 25%; transition: all .15s ease-out; width: 50%; }
#jcSharingPanel a:hover > svg, #jcSharingPanel a:active > svg { height: 80%; margin: 10%; width: 80%; }
#jcSharingPanel .jcSharing-facebook { background: #3b5998; }
#jcSharingPanel .jcSharing-twitter { background: #55acee; }
#jcSharingPanel .jcSharing-tumblr { background: #35465c; }
#jcSharingPanel .jcSharing-email { background: #777; }
#jcSharingPanel .jcSharing-pinterest { background: #bd081c; }
#jcSharingPanel .jcSharing-linkedin { background: #0077b5; }
#jcSharingPanel .jcSharing-reddit { background: #5f99cf; }
#jcSharingPanel .jcSharing-vk { background: #507299; }
#jcSharingPanel .jcSharing-telegram { background: #54a9eb; }
#jcSharingPanel .jcSharing-whatsapp { background: #25d366; }

.jcNavbar .jcNavSharing .dropdown-menu .jcicon { fill: #999; margin-right: 12px; }

#jcPageAudio > div { margin: 1em 0; }
.jcMediaRecordArea audio { width: 300px; height: 38px; display: block; }
.jcMediaRecordArea audio[src=""] { opacity: .5; }
.jcMediaRecordArea video { max-width: 100%; display: block; }
.jcMediaRecordArea.recording video, .jcMediaRecordArea.recording audio { opacity: .3; background-color : #c00; }

@media (min-width: 601px) {
	.jcBoxRight { display: block; float: right; margin: 0 0 0 1em; max-width: 480px; z-index: 2; clear: right; }
	.jcBoxRight > a { margin: auto; }
	.jcEditable .jcBoxRight { float: unset; margin-left: calc(100% - 480px); clear: unset; }
}

.jcMixedBlocks { overflow-y: auto; overflow: visible; }

button[data-ismonth] { text-transform: capitalize; }

label svg.bannerPreview { width: 220px; vertical-align: -20px; }

.jcTags ul { list-style: none; margin-left: 0; padding-left: 40px; position: relative; display: inline-block; }
.jcTags ul li:before { position: absolute; left: 12px; content: '🔖'; }
.jcTags .title  { cursor: pointer ;}
.jcTags .title:hover  { text-decoration: underline; }
.jcTagEntries.compact i:first-child::before { content: '🔖'; margin-right: 8px; }
.jcTagEntries.compact { margin: 0 0 8px 8px; }
.jcTagEntries.compact .jcTagEntry::after { content: ', '; }
.jcTagEntries.compact .jcTagEntry:last-child::after { content: '.'; }

#topFooter { text-align: center; margin: 2em 0; background-color : rgba(255,255,255,.75); }

/* Bootstrap enhancements */
a[onclick] { cursor: pointer; }
.text-white { fill: #fff; }
.swal2-container .swal2-actions button { min-width: 80px; text-align: center; }
.swal2-container .swal2-actions .swal2-cancel {order: 1; margin-right: auto; }
.swal2-container .swal2-actions .swal2-deny {order: 2; }
.swal2-container .swal2-actions .swal2-confirm {order: 3; }
.btn svg { display: inline-block; width: 20px; height: 20px; fill: #fff; }
.tox .tox-dialog-wrap__backdrop { display: none; }

.navbar-nav .nav-link svg { width: 18px; height: 18px; display: inline-block; margin: 3px 0; }
.navbar-light .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover { fill: rgba(0,0,0,.7); }
.navbar-light .navbar-nav .nav-link { fill: rgba(0,0,0,.5); }
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover { fill: rgba(255,255,255,.75); }
.navbar-dark .navbar-nav .nav-link { fill: rgba(255,255,255,.5); }

/* 
.asFormWrap .select2-selection button { margin: unset; height: unset; }
 */
